@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #111729;

  
}
body{
  background-color: var(--background);
  color: white;
  font-family: Manrope;
}

